<div>
    <nav>
        <ul>
            <li routerLink="c1">Sports Kit to the National Level Medal Winners</li>
            <li routerLink="c2">Champions Development Scheme</li>
            <li routerLink="c3">Chief Minister's State Youth Award</li>
            <li routerLink="c4">SDAT Sports Scholarship Scheme</li>
            <li routerLink="c5">Special Development Centre for Weightlifting</li>
            <li routerLink="c6">Specialized Sports Academies</li>
            <li routerLink="c7">Residential Coaching Camps</li>
            <li routerLink="c8">Mission International Medal Scheme (MIMS)</li>
            <li routerLink="c9">Special Scholarship for Elite Sportspersons(EPS)</li>
            <li routerLink="c0">World Beaters Talent Spotting Scheme (WBTSS)</li>
           </ul>
           <hr>
    </nav>
</div>

<router-outlet></router-outlet>

