<h5>WINNERS</h5>
<hr>
<div class="active">
<marquee direction="up" scroolamount="1" >
<h5><b>SCHOOL LEVEL</b></h5>
<hr>
<p>
school name: <b>JJSIS</b> <br>
Student Name: <b>Yadesh</b> <br>
sport: <b>Running</b>
</p>
 <hr>
 <p>
school name: <b>Don Matric</b> <br>
Student Name: <b>sri hari</b> <br>
sport: <b>kho kho</b>
 </p>
 <hr>
school name: <b>SDSION</b> <br>
Student Name: <b>Harish</b> <br>
sport: <b>shot put</b>
<hr>
<h5><b>School District competition</b></h5>
<hr>
<p>
    school name: <b>JJSIS</b> <br>
    Student Name: <b>sudhan</b> <br>
    sport: <b>carrom</b> 
</p><hr>
<p>
school name: <b>Don Matric</b> <br>
Student Name: <b>Riyas</b> <br>
sport: <b>Tennis</b>
</p>
<hr>
<p>
school name: <b>SDSION</b> <br>
Student Name: <b>santhosh</b> <br>
sport: <b>kho kho</b>
</p>
<hr>
<hr>
<h5><b>Inter-district competition</b></h5>
<hr>
<p>
    school name: <b>JJSIS</b> <br>
    Student Name: <b>Yadesh</b> <br>
    sport: <b>Running</b>
    </p>
     <hr>
</marquee>
</div>