<h5>
    Specialized Sports Academies
</h5>
<img src="/assets/c6.jpg" alt="">
<p>The school students who scored 10, 9 or 8 marks out of 10 marks in battery of tests conducted under World Beaters Talent Spotting Scheme are inducted in specialized academies. Through these specialized academies scientific training is imparted to the students. The Government sanctions a grant of Rs.80.00 Lakh every year. Out of the total 13 academies, 8academies are run by SDAT while 5 academies are run by others. The following specialized academies are functioning under the control of TNSC</p>