<h5>
    Residential Coaching Camps
</h5>
<p>
   <b>1.Summer Coaching Camp</b>  <br>
Summer camps are meant to tap the hidden talent of the children. Every year, Summer Coaching Camps are conducted in all the district headquarters and in 25 mini-stadia for boys and girls below the age of 16 years in various disciplines such as Athletics, Basketball, Football, Hockey and Volleyball with qualified coaches / sports experts.During the year 2018-19, 10,235 children got benefited in Summer Coaching Camps. The Government sanction a sum of Rs.2.05 lakh every year for these camps.
Educational District Level Coaching Camp
Non-Residential Coaching Camp is conducted in each of the 67 Educational Districts for 5 days for talented boys and girls studying in 6th, 7th and 8th standard identified through the World Beaters Talent Spotting Scheme. Various sports skills are taught to these boys and girls through qualified coaches / sports experts.
In the Educational District Level Camp conducted in the year 2018, 8,258 students were benefited.
The Government sanction a sum of Rs.5.44 lakh every year for these camps. <br>
<b>2.Level Residential Coaching Camp </b> <br>
60 talented boys and girls from each Educational District are selected and given training in the district level residential coaching camps for 15 days.
Campers are selected based on their performance in the World Beaters Talent Spotting Scheme.
The identified talents are imparted scientific and systematic training by qualified coaches/experts.
These boys and girls are motivated to attend the selection trials for admission into SDAT's Specialized Academies and Sports Hostels.
During 2018, 3,742 sportspersons got benefited under this scheme.
The Government sanction a sum of Rs.71.04 lakh towards dietary allowance, sports uniform, accommodation etc., for the conduct of this coaching camp. <br>
<b>3. Hunting Camp</b> <br>
In this camp, 10 boys and 10 girls below the age of 14 years are admitted and they are offered a systematic training in area-specific sport.
The camp is organized in all the 32 districts for a period of 6 months.
In the year 2018, 620 boys and girls were benefitted under this scheme.
A total sum of Rs.81.20 lakh is sanctioned by the Government towards travelling allowance, nutritious dietary allowance, sports uniform, sports equipment charges etc., for implementing this scheme successfully
</p>