<h5>CARROM</h5>
<img src="/assets/Carrom1.jpeg" alt="">
<p>
    Tamilnadu Carrom Association in Park Town, Chennai is known to satisfactorily cater to the demands of its customer base. The business came into existence in 2003 and has, since then, been a known name in its field. It stands located at Room No 77, Near Jawaharlal Nehru Stadium, in jawaharlal nhru stadium, Park Town-600003. Near Jawaharlal Nehru Stadium is a prominent landmark in the area and this establishment is in close proximity to the same.The business strives to make for a positive experience through its offerings.

Customer centricity is at the core of Tamilnadu Carrom Association in Park Town, Chennai and it is this belief that has led the business to build long-term relationships. Ensuring a positive customer experience, making available goods and/or services that are of top-notch quality is given prime importance.

India's leading B2B market place, Jd Mart ensures engaging in business activities is a seamless process for small and medium enterprises as well as large businesses. In a wake to enable these businesses to reach their audience, this portal lets them showcase their offerings in terms of the products and/or services through a digital catalogue. This business has a wide range of product offerings and the product/catalogue list includes Associations etc.

</p>