<div class="body">
 
    <div id="slider">
        <figure>
            <img src="/assets/img1.jpg" alt="img1">
        </figure>
        <figure>
            <img src="/assets/img2.jpeg" alt="img2">
        </figure>
        <figure>
            <img src="/assets/igm3.jpg" alt="img3">
        </figure>
        <figure>
            <img src="/assets/img4.jpg" alt="img4">
        </figure>
        <figure>
            <img src="/assets/img5.jpg" alt="img5">
        </figure>
       
    </div>
    
</div>
<div class="list-group">
    <a class="list-group-item list-group-item-action active card1-heading ">
     
  Announcements / Notifications
    </a>
    <a  >Notification for Recruitment of Consultants
   </a>
   <hr>
   <a > 09.07.2022 அன்று விளையாட்டு விடுதி சேர்க்கைக்கான 5-வது மற்றும் இறுதி கட்ட கலந்தாய்வுக் கூட்டம் நடைபெறுதல். 
   </a>
   <hr>
    <a  >Sports Hostel - Score Sheet - 2022 - 2023   
   </a>
    <hr>
<a> Khelo India Youth Games 2021, Results
   </a>
   <hr>
  <a> Application form for Chief Minister's State Sports Award for the year 2021 - 2022</a> 
</div>
  <hr>
  <div class="list-group">
    <a class="list-group-item list-group-item-action active card1-heading ">
     Infrastructure 
    </a>
    <a>Jawaharlal Nehru Stadium, Chennai </a>
    <hr>
    <a> Mayor Radhakrishnan Hockey Stadium, Egmore, Chennai  </a>  
    <hr>
    <a>Nehru Indoor Stadium, Chennai   </a>
    <hr>
     <a>Tennis Stadium, Nungambakkam, Chennai</a>
     <hr>
     <a>Aquatic Complex, Velachery,Chennai</a>
     <hr>
       <a>Other Facilities</a>
  </div>  
  <div class="list-group">
    <a class="list-group-item list-group-item-action active card2-heading">
     
      Latest News
    </a>
    <a>Khelo India Youth Games Player's Registration 2021</a>
    <hr>
    <a>KIYG 2021 -
  Date & Venue for Team Games Selection Trails </a>
  <hr>
  <a>Calendar of Events  2022-2023</a>    
  </div>
  <marquee behavior="" direction="">
    <img src="/assets/basketball.png" alt="" id="im">
    <img src="/assets/carrom.png" alt="" id="im">
    <img src="/assets/chess.png" alt="" id="im">
    <img src="/assets/cricket.png" alt="" id="im">
    <img src="/assets/football.png" alt="" id="im">
    <img src="/assets/kabbadi.png" alt="" id="im">
    <img src="/assets/running.png" alt="" id="im">
    <img src="/assets/shotput.png" alt="" id="im">
    <img src="/assets/tennis.png" alt="" id="im">
    <img src="/assets/volley ball.png" alt="" id="im">
  </marquee>