<h5>
    CHESS
</h5>
<img src="/assets/chess1.jpg" alt="">
<p>
    Chess tournament to be held from July 28 to August 10 in Mamallapuram
It is not often one gets a welcome with folded hands at a suicide point. But tourists at the Doddabetta Peak, a high vantage point in the hill station of Ooty, were pleasantly surprised to see one. Apart from the lush valleys to the breathtaking view of blue hills and misty lands, tourists were attracted to a life size cutout of a ‘horse’, clad in white veshti and shirt, welcoming them.

From the colourful Sim's Park to high altitude Lamb's Rock, the veshti-shirt clad horse greeted tourists in all major spots in Coonoor too.
</p>