<h5>
    SHOTPUT
</h5>
<img src="/assets/shot1.jpg" alt="">
<p>
    The following rules (indoor and outdoor) must be adhered to for a legal throw:

Upon calling the athlete's name, the athlete may choose any part of the throwing circle to enter inside. They have thirty seconds to commence the throwing motion; otherwise it counts as a forfeit for the current round.
The athlete may not wear gloves; IAAF rules permit the taping of individual fingers.
The athlete must rest the shot close to the neck, and keep it tight to the neck throughout the motion.
The shot must be released above the height of the shoulder, using only one hand.
The athlete may touch the inside surface of the circle or toe board, but must not touch the top or outside of the circle or toe board, or the ground beyond the circle. Limbs may, however, extend over the lines of the circle in the air.
The shot must land in the throwing sector, which is a circular sector of 34.92° centered on the throwing circle. The throwing sector has been narrowed multiple times over the years to improve safety, most recently in 2004 from 40º. The current throwing sector angle (34.92º) was chosen because it provides a sector whose bounds are easy to measure and lay out on a field (10 metres out from the center of the ring, 6 metres across).[5]
The athlete must leave the throwing circle from the back half.
Foul throws occur when an athlete:

Does not pause within the circle before beginning the putting motion.
Does not complete the putting movement initiated within thirty seconds of having their name called.
Allows the shot to drop below his shoulder or outside the vertical plane of his shoulder during the put.
At any time if the shot loses contact with the neck then it is technically an illegal put.
</p>