<h5>
    Special Development Centre for Weightlifting
</h5>
<img src="/assets/c5.jpg" alt="">
<p>
    A Special Development Centre for Weightlifting has been functioning at Sathuvachari, Vellore since 1997.30 men and 12 women can receive training in this centre. Scientific and technical aspects of training are provided in this centre. Apart from this, physical fitness, injury prevention, nutrition, etc., are also provided to the trainees of this centre. Lot of international standard weightlifters have emerged from this centre. One of the weightlifters viz., Thiru.S. Sathishkumar has secured gold medal in the XX Commonwealth Games-2014 held at Glasgow (UK) and XXI Commonwealth Games-2018 held at Australia and brought laurels to the country. Every year, a sum of Rs.7.89 lakh is sanctioned for running this centre.
</p>