<h5>Sports Kit to the National Level Medal Winners</h5>
<img src="/assets/c1.jpg" alt="">
<p>In order to encourage and motivate the medal winners of Tamil Nadu in the national level competitions, sports kits to the value of Rs.6,000/-, Rs.4,000/- and Rs.2,000/- are awarded to the first three place holders respectively as detailed below:</p>

<table>
    
      <th>medals</th>
       <th> sport kits </th>
        <th>quantitys </th>
    <tr>
        <td>gold</td>
        <td>
            track suits <br>
            <hr>
            t-shirt <br>
            <hr>
            shorts
        </td>
        <td>
            1set <br> 
            <hr>
            2nos. <br>
            <hr>
            2nos. <br>
        </td>
    </tr>
    <tr>
        <td>silver</td>
        <td>
            track suits <br>
            <hr>
            t-shirt <br>
            
        </td>
        <td>
            1set <br>
            <hr>
            2nos. <br>
            <hr>
            
        </td>
    </tr>
    <tr>
        <td>bronze</td>
        <td>
            track suits <br>
          
        </td>
        <td>
            1set <br>
            
        </td>
    </tr>
</table>