h4{
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 40px;
font-family:cursive;}

form{
    width: 550px;
    margin-left: 300px;
}
#btn{
    margin-top: 30px;
    margin-left: 150px;
}
#reset{
    margin-left: 20px;
}
