*{
    padding: 0;
    border: 0;
    margin: 0;
}

#r1{
    height: 100px;
}
#r2{
    height: max-content;
    border: 0;
    margin: 0;
}
#r3{
    height: 462px;
}
#r4{
    height: 100px;
}
#r1 img{
    height: 99%;
    max-width: 40%;
    padding-left: 50px;
}
#c2{
    text-align: center;
    padding-top: 10px;
    font-size: xx-large;
}
#img1{
    height: 104%;
    max-width: 40%;
    padding-left: 50px;
}
#c3{
    border-right: 0.5px solid gray;
    border-left: 0.5px solid gray;

}
 @media screen and (max-width: 800px) {
    *{
        padding: 0;
        border: 0;
        margin: 0;
        top: 0;
    }
    #r1{
        height: 100px;
    }
    #r2{
        height: max-content;
        border: 0;
        margin: 0;
    }
    #r3{
        height: 462px;
    }
    #r4{
        height: 100px;
    }
    #r1 img{
        height: 0%;
        max-width: 0%;
       
    }
    #c2{
        text-align: center;
        font-size: medium;
        padding: 0;

    }
    h6{
        font-size:small;
    }
    #img1{
        height: 0%;
        max-width: 0%;
      
    }
}
#slider{
    overflow: hidden;
    width: 100%;
    
    
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    float: left;
    width: 20%;
    height: 500px;
}

@keyframes slider {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
.body{
    padding-right: 5px;
}
table{
  color: white;
  width: 250px;
  text-align: center;
  float: right;
  margin-right: 50px;
  margin-bottom: -30px;
  background-color: black;
}
tr,td,th{
    border: 2px solid white;
}
.list-group{
    float: right;
    width: 100%;
    margin-top: 50px;
    cursor:context-menu;
    text-align: center;
}
.list-group a:hover{
    background-color: gray;
    transition: 0.5s;
}
@media screen and (max-width: 768px){
    #slider{
        overflow: hidden;
        width: 100%;
        float: right;
        padding-top: 0;
        padding-right: 0;
        
    }
    #slider figure{
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 20s slider infinite;
    }
    #slider figure img{
        float: left;
        width: 20%;
        height: 500px;
    }
    
    @keyframes slider {
        0%{
            left: 0;
        }
        20%{
            left: 0;
        }
        25%{
            left: -100%;
        }
        45%{
            left: -100%;
        }
        50%{
            left: -200%;
        }
        70%{
            left: -200%;
        }
        75%{
            left: -300%;
        }
        95%{
            left: -300%;
        }
        100%{
            left: -400%;
        }
    }
}

