<div class="container-fluid">
  <script src="https://kit.fontawesome.com/yourcode.js"></script>
  <div class="row" id="r1">
    <div class="col-sm-3">
      <img src="/assets/logo1.png">
    </div>
    <div class="col-sm-6" id="c2">
      <b>TAMILNADU SPORTS COMMUNITY</b> <br>
      <h6>116-A, Poonamallee High Rd, Sastri Nagar, Nehru Park, Chennai, Tamil Nadu 600084</h6>
    </div>
    <div class="col-sm-3" id="img1" >
      <img src="/assets/logo2.png">
    </div>
  </div>
  <div class="row" id="r2">
    <div class="col-sm-12" (click)="toggletag ()"><app-nav></app-nav></div>
  </div>
  <div class="row" id="r3">
    <div class="col-sm-1" id="c1"></div>
    <div class="col-sm-9" id="c3">
      <app-outlet></app-outlet></div>
    <div class="col-sm-2"><app-marq></app-marq> </div>
  </div>
  <div class="row" id="r4">
    <div class="col-sm-12"></div>
  </div>
</div>