<div class="container-fluid" id="certificate">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <div class="row" id="r1">
      <div class="col-sm-3">
        <img src="/assets/logo1.png">
      </div>
      <div class="col-sm-6" id="c2">
        <b>TAMILNADU SPORTS COMMUNITY</b> <br>
        <h6>116-A, Poonamallee High Rd, Sastri Nagar, Nehru Park, Chennai, Tamil Nadu 600084</h6>
      </div>
      <div class="col-sm-3" id="img1" >
        <img src="/assets/logo2.png">
      </div>
    </div>
    <div id="cer">
        <div id="ce">
    <h4>CERTIFICATE</h4>
    <h5><i>Proudly Presents to</i></h5>
    <h4 id="name">YADESHWAR.S</h4>
    <p>As participated in TamilNadu Sports match held on <br> 22/07/2022</p>
    <p> <b>Congratulation you have won the match in cricket </b> </p>
</div>
</div>
</div> 
<button id="download">DOWNLOAD</button>
<!-- <script src="html2canvas.min.js"></script>
<script>
  document.getElementById("download").onclick=function(){
    const screenshotTarget = document.getElementById('certificate');

    html2canvas(screenshotTarget).then((canvas) => {
const base64image= canvas.toDataURL("image/png");
var anchor = document.createElement('a');
anchor.setAttribute("href", base64image);
anchor.setAttribute("download", "certificate");
anchor.click();
anchor.remove();
    });
  };
</script> -->

