<h5>
    Champions Development Scheme
</h5>
<img src="/assets/c2.jpg" alt="">
<p>
    This is a unique scheme introduced in the year 1997. Under this scheme, gold medal winners at national level below 20 years of age are selected and extended need based assistance to the tune of Rs.2.00 Lakh per head per annum. The scheme extends assistance for purchase of sports equipment and kits and expenses related to training and participation in competitions abroad. <br> At present, 103 sportspersons are getting benefitted under this scheme.
</p>
