<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="container-fluid">
    <nav>
        <ul>
            <li routerLink="carrom">CARROM <img src="/assets/carrom.png" alt=""></li>
            <li routerLink="chess">CHESS <img src="/assets/chess.png" alt=""></li>
            <li routerLink="cricket">CRICKET <img src="/assets/cricket.png" alt=""></li>
            <li routerLink="football">FOOT-BALL <img src="/assets/football.png" alt=""></li>
            <li routerLink="kabaddi">KABADDI <img src="/assets/kabbadi.png" alt=""></li>
            <li routerLink="kho">TENNIS<img src="/assets/tennis.png" alt=""></li>
            <li routerLink="lj">BASKET-BALL<img src="/assets/basketball.png" alt=""></li>
            <li routerLink="running">RUNNING <img src="/assets/running.png" alt=""></li>
            <li routerLink="shotput">SHOT-PUT <img src="/assets/shotput.png" alt=""></li>
            <li routerLink="vb">VOLLEY-BALL <img src="/assets/volley ball.png" alt=""></li> 
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>

