<h5>
    Chief Minister's State Youth Award
</h5>
<img src="/assets/c3.jpeg" alt="">
<p>
    The Chief Minister's State Youth Award is being given to the youth of the State for the services rendered by them to the welfare of the society. The cash amount which was being given as a part of the Award has been enhanced from Rs.0.50 Lakh to Rs.1.00 Lakh vide G.O. (Ms) No.24, Youth Welfare and Sports Development Department dated 09.08.2021. Since its inception, this is the first time, the award has been given to all the six youth (3 men and 3 women) on the Independence Day 2021.
</p>