<h5>
    Special Scholarship for Elite Sports persons (Aiming for Olympics and International level competitions)
</h5>
<img src="/assets/c8.jpg" alt="">
<p>
    Sportspersons from Tamil Nadu are doing extremely well at international level. These sportspersons are in need of assistance from the Government to achieve further. To encourage sportspersons from Tamil Nadu who have potential to win medals at the Olympics and major international level competitions, the Government have been implementing a unique scheme called Special Scholarship for Elite Sportspersons since 2011-12. Under this scheme, assistance to an extent of Rs.25.00 lakh per person per year is extended to the identified elite sportspersons to fulfil their need based requirements. In the XXI Commonwealth Games-2018 held in Australia, 3 sportspersons covered under this scheme had secured 2 Gold, 1 Silver and 2 Bronze medals. Likewise, in the 18th Asian Games-2018 held in Indonesia,4 sportspersons from this scheme had secured 3 Silver and 2 Bronze medals.

The performance of the elite sportspersons are monitored and reviewed regularly. Inconsistent performers are replaced with new meritorious sportspersons. As on 01.04.2019, 12 elite sportspersons are getting need based financial assistance under the scheme. Till the year 2018-19, a sum of Rs.4,20,44,281/- has been sanctioned to these elite sportspersons. 
</p>