<h5>
    World Beaters Talent Spotting Scheme (WBTSS)
</h5>
<img src="/assets/c0.jpg" alt="">
<p>
    Battery of Tests
The Government of Tamil Nadu have introduced a novel scheme of World Beaters Talent Spotting Scheme. Under this scheme, a series of tests are conducted to the students studying in VI, VII and VIII in all the schools throughout the State to find out the motor qualities in them and to identify hidden talents and thereby assessing their activities.Based on this, the continuous process of the following components are taken care of:

Talent Identification.
Grooming the identified talents by inducting them into the specialized academies based on their motor abilities.
Participation in competitions.
Identification of Talents
At the first stage in the school level, a battery of tests are conducted to identify the potentially talented children. The mission of identification of talents is undertaken by School Education Department with the assistance of SDAT. The following are the battery of tests which help to identify the motor abilities:

50m Run
600m Run for Girls
800m Run for Boys
4kg Shot put
Long Jump
6 x 10m Shuttle Run
The next phase of the scheme is conducting of Educational District Level Competitions for boys and girls who have secured 10, 9 or 8 out of 10 marks in the battery of tests conducted in the schools. The regional level competitions are being conducted in nine locations. Every year during April – May, the first 10 winners are selected to attend selection trials for the SDAT specialized academies.The selected students are admitted into the specialized academies and they are given special and regular coaching to achieve excellence.The school authorities conduct the tests and send the details of results to the District Sports & Youth Welfare Officers of concerned District.
</p>